/* Fonts */

@font-face {
  font-family: "FuturaDemiC";
  src: url("fonts/FuturaDemiC.ttf");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("fonts/FuturaBookC.ttf");
}

@font-face {
  font-family: "YesevaOne";
  src: url("fonts/YesevaOne.ttf");
}

@font-face {
  font-family: "FuturaDemiCTT";
  src: url("fonts/FuturaDemiCTT.ttf");
}





/* Main */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #e3b873;
  font-family: "FuturaDemiC";

  cursor: pointer;
  outline: none;
  
  transition: .3s;
}

a:hover {
  color: #bd9048;
}

b {
  font-weight: 700;
}

body {
  height: 10150px;
  width: 100vh;

  margin: 0;

  background: #131313;
}

button {
  cursor: pointer;
  outline: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  height: 80px;
  width: 100vh;

  background: #b4bdff;
}

html {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #e3b873;
}

p {
  color: #fff;
}

.colortext {
  color: #e3b873;
}

.container {
  z-index: 100;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}





/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 82px;
  width: 100%;

  background: #131313;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}



.logo {
  position: relative;
  top: 37px;
  left: 41px;

  font-family: "FuturaDemiC";
  font-size: 14px;
  color: #e3b873;
}



.nav__link {
  position: relative;
  top: 37px;
  margin: 0 20px;
  vertical-align: top;

  display: inline-block;

  font-family: "FuturaBookC";
  font-size: 14px;
  text-decoration: none;
  color: #fff;

  transition: .3s; 
}

.nav__link:hover {
  color: #e3b873;
  text-decoration: underline;
}



.nav__phone {
  position: relative;
  top: 37px;
  margin: 0 0;

  font-family: "FuturaDemiCTT";
  font-size: 14px;
  text-decoration: underline;
}



.nav__button {
  position: relative;
  top: 26px;
  margin: 0 0;

  height: 37px;
  width: 161px;

  background: #e3b873;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(227, 184, 115, .6);

  font-family: "FuturaDemiC";
  font-size: 13px;
  color: #fff;

  transition: .3s;
}

.nav__button:hover {
  background: #bd9048;
}





/* Intro */

.intro {
  position: absolute;
  top: 83px;
  left: 82px;

  height: 707px;
  width: 93.5%;

  background: url("images/intro.jpeg") no-repeat;
}



.intro__left {
  position: absolute;
  top: 0;
  left: -83px;
  z-index: -10;

  height: 707px;
  width: 83px;

  background: #131313;
}

.intro__left__link {
  position: absolute;
  top: 290px;
  color: #e3b873;
  font-family: "FuturaDemiCTT";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transform: rotate(90deg);
}

.intro__left__div {
  position: absolute;
  top: 360px;
  left: 39px;
  height: 50px;
  width: 1px;
  background: #e3b873;
}



.intro__h {
  position: absolute;
  top: 195px;
  left: 52px;

  color: #fff;
  line-height: 55px;
  font-family: "YesevaOne";
  font-size: 40px;
  font-weight: 200;
}

.intro__p {
  position: absolute;
  top: 300px;
  left: 52px;

  color: #fff;
  font-family: "FuturaBookC";
  font-size: 22px;
  font-weight: 400;
}



.intro__button {
  position: absolute;
  top: 448px;

  height: 52px;
  width: 207px;

  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 3px;

  color: #fff;
  font-family: "FuturaDemiC";
  font-size: 13px;

  transition: .3s;
}

.intro__button:hover {
  background: #e3b873;
  border: 2px solid #e3b873;
  box-shadow: 0 0 5px rgba(227, 184, 115, .6);
}

#button__calc {
  left: 52px;
}

#button__request {
  left: 279px;
}



.intro__scroll {
  position: absolute;
  top: 655px;
  left: -83px;

  height: 100px;
  width: 297px;

  background: #131313;
  border: none;

  color: #fff;
  font-family: "YesevaOne";
}

.intro__scroll__img {
  margin-top: -7px;
  margin-left: 20px;
  vertical-align: middle;
  z-index: 900;
}





/* Projects */

.projects {
  position: absolute;
  top: 262px;
  z-index: -100;

  height: 181.6%;
  width: 100%;

  background: url("images/projects__background.svg");
}

#projects__container {
  position: absolute;
  top: 710px;
  left: 100px;
}

.projects__h {
  font-family: "YesevaOne";
  font-size: 27px;
  color: #e3b873;
  line-height: 39px;
}

.projects__line {
  content: "";
  position: relative;
  top: -20px;
  left: 170px;
  background: #e3b873;
  height: 1px;
  width: 92px;
}

#projects__subtitle {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 30px
}

#projects__h__city {
  position: relative;
  top: 30px;
  font-family: "YesevaOne";
  font-size: 18px;
  margin-top: 50px;
}

#projects__p__city1 {
  position: relative;
  top: 20px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 30px;
}

#projects__p__city2 {
  position: relative;
  font-family: "FuturaBookC";
  font-size: 15px;
}

#projects__h__area {
  position: absolute;
  top: 235px;
  left: 210px;
  font-family: "YesevaOne";
  font-size: 18px;
}

#projects__p__area {
  position: absolute;
  top: 250px;
  left: 210px;
  font-family: "FuturaBookC";
  font-size: 15px;
}

#projects__h__time {
  position: relative;
  top: 20px;
  font-family: "YesevaOne";
  font-size: 18px;
}

#projects__p__time {
  position: relative;
  top: 15px;
  font-family: "FuturaBookC";
  font-size: 15px;
}

#projects__h__cost {
  position: absolute;
  top: 338px;
  left: 210px;
  font-family: "YesevaOne";
  font-size: 18px;
}

#projects__p__cost {
  position: absolute;
  top: 355px;
  left: 210px;
  font-family: "FuturaBookC";
  font-size: 15px;
}



.sl_ctr {
  position: relative;
  top: -250px;
  left: 280px;
  width: 721px;
  height: 550px;
  overflow: hidden;
}

.slider {
  top: -250px;
  left: 280px;
  position: relative;
  width: 10000px;
  height: 550px;
}

.slider img {
  float: left;
}

.prev_b, .next_b {
  position: absolute;
  top: 680px;
  left: 120px;
  cursor: pointer;
}

.prev_b:hover, .next_b:hover {
  opacity: .6;
}

.next_b {
  left: 240px;
}



.dot__1 {
  position: absolute;
  height: 10px;
  width: 10px;
}

.dot__2 {
  position: absolute;
  height: 10px;
  width: 10px;
}

.dot__3 {
  position: absolute;
  height: 10px;
  width: 10px;
}

.projects__h__control {
  position: absolute;
  top: 700px;
  text-align: center;
  color: #fff;
}



/* Measuring */

.measuring {
  position: absolute;
  top: 1820px;
  left: 0;
  z-index: -100;

  height: 100%;
  width: 100%;

  background: url(images/measuring__background.svg);
}